:root{
    --principal-color: rgb(45, 177, 177);
    --margin-dynamic: 20px min(max(8px, 3vw));
}

body {
   margin: 0;
   background-color: #efefef;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body > div{
    display: flex;
 }

h3{
    width: clamp(20ch, 70%, 65ch);
    margin: 20px 0 0 min(max(8px, 3vw), 40px);
    color: #202020;
 }
h1{
    margin: 5px;
}

#photo-and-logo-container{
    background-image: url("montains.jpg");
    background-size: cover;
    display: flex;
    flex-flow: column;
    position: relative;
}

#background-pic {
    margin: 0;
    height: 100vh; 
}

#logo-container {
    font-family: 'Sora', sans-serif;
    font-size: min(max(8px, 2vw), 15px);
    display: flex;
    overflow: hidden;
    margin: 15px;
    flex-grow: 0;
    flex-flow: column;
    align-self: center;
    justify-content: center;
}

#form-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: min(max(5px, 4vw), 20px);
}

#inner-form-container {
    background-color: white;
    padding: 25px min(max(8px, 2vw), 40px);
    box-shadow: 0px 15px 30px -25px black;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p > label {
    display: block;
    font-size: 10px;
    color: #585858;
    font-weight: 600;
    margin: 5px 0;
}

p > input {
    border-radius: 7px;
    border: 0.5px solid #8f8f8f;
    height: 22px;
}

p{
    margin: 0 min(max(8px, 3vw), 50px);
}

button {
    margin: 0 min(max(8px, 3vw), 40px);
    padding: 10px 30px;
    border-radius: 7px;
    border: none;
    background-color: var(--principal-color);
    color: aliceblue;
    font-weight: 600;
}

button:hover {
    background-color: rgb(64, 216, 216);
}

#credit {
    align-self: center;
    position: absolute;
    text-align: center;
    bottom: 0ch;
    color: aliceblue;
    margin: 0;
    font-size: 15px;
}

input:focus{
    border: 4px solid var(--principal-color);
}

@media only screen and (max-width: 599px){
    .left-box{
        flex-flow: column;
        max-height: 200px;
        width: 100%;
    }
    body > div{
        flex-flow: column;
    }
    #credit, #photo-and-logo-container a {
        background-color: rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 0);
    }
}

@media only screen and (min-width: 600px){
    .left-box{
        width: 100vh;
        height: 100vh;
        justify-content: center;
    }
}

a{
   color: var(--principal-color);
   font-weight: 600;
}